Package: com.adskip.tweak
Name: AdSkipTweak
Version: 4.0.0
Architecture: iphoneos-arm
Description: 广告加速 - 基于JailedSpeedAds开源逻辑，AVPlayer 600倍速加速广告视频
Maintainer: AdSkip
Author: AdSkip
Section: Tweaks
Depends: mobilesubstrate
